@import url(./vars.css);

*{
    margin: 0;
    padding: 0;
}

.destination-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section{
    font-family: var(--ff-main);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    font-weight: var(--fw-md);
    color: var(--clr-purple);
}

.card{
    box-shadow: 0px 8px 20px 13px var(--clr-black-shadow);
    border-radius: 2rem;
    overflow: hidden;
}

.top-title{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    font-size:var(--fs-lg) ;
    font-weight: var(--fw-bd);
}

.city-img{
    width: 100% ;
    aspect-ratio: 3/3.17;
    object-fit: cover;
    object-position: top;
}

.destination{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    margin-top: 1rem;
    font-size: var(--fs-md);
}

.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.875rem 2rem;
    gap: 1rem;
    font-size: var(--fs-nm);
}

@media (max-width: 767.98px){
    .card-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .card-section{
        justify-items: center;
        text-align: center;
        
    }

}