@import url(./vars.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.destination-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-section {
  font-family: var(--ff-main);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 4rem;
  gap: 3rem;
  font-weight: var(--fw-md);
  color: var(--clr-purple);
}

.card {
  box-shadow: 0px 0px 20px 4px var(--clr-black-shadow); /*x, y, blur, spread : color*/
  border-radius: 2rem;
  overflow: hidden; /*hide extra content of picture*/
}

.top-title {
  display: grid;
  text-align: center;
  grid-column: span 3;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bd);
}

.city-img {
  width: 100%;
  aspect-ratio: 3/3.17;
  object-fit: cover;
  object-position: top;
}

.destination {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
  font-size: var(--fs-md);
}

.time {
  display: flex;
  align-items: center;
  padding: 0.875rem 2rem;
  gap: 1rem;
  font-size: var(--fs-nm);
}

@media (max-width: 767.98px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card-section {
    justify-items: center;
    align-items: center;
  }
}
